* {
    color: white;
    font-family: "Plus Jakarta Sans";
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4d4d4d;
}
input {
    font-size: 2em;
    margin: auto;
    color: #4d4d4d;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-button {
    margin: 10px;
    border-radius: 2px;
    background-color: #1ed760;
    color: black;
    border: 0;
}

#reset-button:hover {
    background-color: #1fdf64;
    transform: scale(1.01);
}

#reset-button:active {
    background-color: #169c46;

}